<?xml version="1.0"?>
<launch>
    <arg name="human_name" default="human"/>
    <arg name="flight_control_config_file" default="$(find flight_control)/cfg/flight_control_human_config.yaml"/>

    <group ns="$(arg human_name)">
      <!-- State Manager -->
      <node name="state_manager" pkg="state_manager" type="state_manager_node" output="screen" clear_params="true">
        <remap from="state" to="mavros/state"/>
        <remap from="control_state" to="control/state"/>
        <remap from="battery" to="mavros/battery"/>

        <remap from="armingclient" to="mavros/cmd/arming"/>
        <remap from="serviceclient" to="mavros/set_mode"/>
      </node>
      <!-- Flight Controller -->
      <node name="flight_control" pkg="flight_control" type="flight_control_node" output="screen">
        
        <rosparam command="load" file="$(arg flight_control_config_file)"/>
        
        <remap from="setpoint_position" to="mavros/setpoint_position/local"/>
        <remap from="setpoint_velocity" to="mavros/setpoint_velocity/cmd_vel"/>
        <remap from="setpoint_raw" to="mavros/setpoint_raw/attitude"/>
        <remap from="setpoint_attitude/thrust" to="mavros/setpoint_attitude/thrust"/>
        <remap from="setpoint_attitude/attitude" to="mavros/setpoint_attitude/attitude"/>
        <remap from="setpoint_attitude/bodyrate" to="mavros/setpoint_attitude/cmd_vel"/>
        <remap from="teleop_raw" to="mavros/setpoint_raw/local"/>
        <remap from="control_state" to="control/state"/>
        <remap from="local_pose" to="mavros/local_position/pose"/>
        <remap from="imu" to="mavros/imu/data"/>
        <remap from="planner_state" to="planner/state"/>
        <remap from="planner_pose" to="planner/pose"/>
        <remap from="planner_velocity" to="planner/velocity"/>
        <remap from="planner_raw" to="planner/raw"/>
        <remap from="planner_thrust" to="planner/thrust"/>
        <remap from="planner_attitude" to="planner/attitude"/>
        <remap from="planner_bodyrate" to="planner/bodyrate"/>
        <remap from="planner_teleop" to="planner/teleop"/>

      </node>
      <!-- Teleop Controller -->
      <include file="$(find teleop_control)/launch/teleop_control.launch">
      </include>
    </group>
</launch>
