<?xml version="1.0"?>
<launch>
    <group ns="uav2">
        <node pkg="borealis_hri_interface" type="borealis_hri_interface_header_pseudo_script" name="borealis_hri_header_tf" output="screen"/>
        <rosparam command="load" file="$(find borealis_hri_interface)/config/hri_header_uav2_config.yaml"/>
    </group>
</launch>
