<?xml version="1.0"?>
<launch>
    <group ns="uav1">
        <node pkg="borealis_hri_interface" type="borealis_hri_interface_header_pseudo_script" name="borealis_hri_header_tf" output="screen"/>
        <rosparam command="load" file="$(find borealis_hri_interface)/config/hri_header_uav1_uav2_config.yaml"/>

        <remap from="/uwb_uav_frame1" to="/UAV1Pose"/>
        <remap from="/uwb_uav_frame2" to="/UAV2Pose"/>
    </group>
</launch>
